body{
    margin: 0px;
    padding: 0px;
}

#card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form{
    text-align: center;
    justify-content: center;
    color: #000;
}
.form h3{
    padding: 30px;
}
